body {
    font-family: 'Arial', sans-serif;
    background-color:lightpink;
    color: black;
}

header {
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: auto;
    height: 400px;
}

header a {
    text-decoration: none;
    color: black;
    margin: 15px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

header img {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
}

.nombre {
    position: relative;
    bottom: 400px;
    top: 150px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.presentacion {
    color: black;
}

.sobremi {
    color: black;
    margin: 19px;
}

.texto {
    font-size: 18px;
    color: black;
    margin: 19px;
    margin-right: 500px;
}

.presentacion img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

section {
    padding: 20px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h3 {
    color: #333;
}

form {
    background-color:lightpink;
    color: black;
    margin-left: 450px;
    margin-right: 450px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="enviar"] {
    color: #333;
    cursor: pointer;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
}

.numtel {
    color: black;
}

.email {
    margin-top: 10px;
    color: black;
}

.skills h3 {
    background-color:lightpink;
    color: black;
}

.projects {
    margin: 50px;
    text-align: center;
}

.projects img {
    width: 600px;
    display: inline-block;
    margin-bottom: 50px;
}

.proyecto1{
    position: absolute;
    left: 100px;
}

.skills img{
    border-radius: 50%;
}

.skills{
    display: flex;
    justify-content: space-around;
    color: black;
    margin: 100px;
}

.skills h2{
    position: absolute;
    left: 45px;
}

.proyectos{
    display: grid;
}

.servicios{
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    gap: 10px;
}

a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    header {
        height: auto;
        padding: 20px;
        text-align: left;
    }

    header img {
        position: static;
        left: auto;
        top: auto;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .nombre {
        position: static;
        bottom: auto;
        top: auto;
        text-align: center;
        margin-top: 10px;
    }

    .presentacion {
        text-align: center;
    }

    .texto {
        margin-right: 0;
    }

    form {
        margin-left: 20px;
        margin-right: 20px;
    }

    footer {
        text-align: center;
    }

    .proyectos img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .skills {
        flex-direction: column;
        align-items: center;
        margin: 50px auto;
    }

    .skills h2 {
        text-align: center;
        margin-left: 0;
    }

    .projects {
        margin: 20px;
    }
}