<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="portfolio.css">
</head>
<header class="arriba">
    <div class="arriba">
        <a href class="Home">Inicio</a>
        <a href class="Projects">Proyectos</a>
        <a href class="Skills">Habilidades</a>
        <a href class="Contact">Contacto</a>

        <h1 class="nombre">Lucía Rojas</h1>
    </div>
</header>
<section class="presentacion">
    <div>
        <h2 class="sobremi">Sobre mi</h2>
        <ul th:each="contact : ${contacto}">
            <li th:text="${contact.getNombre()}">Nombre</li>
            <li th:text="${contact.getDireccion()}">Direccion</li>
            <li th:text="${contact.getTelefono()}">Telefono</li>
            <li th:text="${contact.getEmail()}">Email</li>
            <li th:text="${contact.getEmpresa()}">Empresa</li>
        </ul>
        <p class="texto">
            Hola a todos, soy Lucia Rojas.

            Técnica superior de desarrollo de aplicaciones multiplataforma en Madrid, España.
            Cuento con conocimiento informatico en Java, Phyton, CSS, Html, etc.
            Si quieres saber mas no dudes en ponerte en contacto conmigo.
        </p>
    </div>
    <section class="servicios1">
        <h2>Servicios</h2>
        <div class="servicios">
            <ul th:each="lenguaje: ${lenguajes}">
                <li th:text="${lenguaje.getAñoLanzamiento()}">Año lanzamiento</li>
                <li th:text="${lenguaje.getCreador()}">Creador</li>
                <li th:text="${lenguaje.getTipo()}">Tipo</li>
                <li th:text="${lenguaje.getNombre()}">Nombre</li>
                <li th:text="${lenguaje.getId()}">ID</li>
            </ul>
            <div class="servicios">
                <a href="Corrección de código">Corrección de código</a>
                <a href="Conocimiento en java y phyton">Conocimiento en java y phyton</a>
                <a href="Desarrollo web">Desarrollo web</a>
                <a href="Desarrollo de aplicaciones multiplataforma">Desarrollo de aplicaciones multiplataforma</a>
            </div>
        </div>
    </section>
    <section class="Projects">
        <h2>Proyectos</h2>
        <div class="proyectos">
            <ul th:each="proyecto : ${proyectos}">
                <li th:text="${proyecto.getId()}">ID</li>
                <li th:text="${proyecto.getNombre()}">Nombre</li>
                <li th:text="${proyecto.getDescripcion()}">Descripcion</li>
                <li th:text="${proyecto.getFechaFin()}">Fecha Fin</li>
                <li th:text="${proyecto.getFechaInicio()}">Fecha inicio</li>
                <li th:text="${proyecto.getContacto()}">Contacto</li>
            </ul>
        </div>
    </section>
    <section class="skills">
        <div class="Habilidades">
            <h2>Habilidades</h2>
        </div>
        <div class="progra">
            <ul th:each="herramienta : ${herramientas}">
                <li th:text="${herramienta.getNombre()}">Nombre</li>
                <li th:text="${herramienta.getDesarrollador()}">Desarrollador/li>
                <li th:text="${herramienta.getPlataforma()}">Plataforma</li>
                <li th:text="${herramienta.getAñoLanzamiento()}">Año Lanzamiento</li>
                <li th:text="${herramienta.getId()}">ID</li>
            </ul>
            <h3 class="programacion">Programación</h3>
        </div>
        <div class="desweb">
            <h3 class="desarrollo web">Desarrollo web</h3>
        </div>
        <div class="dam">
            <h3 class="aplicaciones">Desarrollo de aplicaciones</h3>

        </div>
    </section>
    <section class="formulario">
        <h2>Ponte en contacto</h2>
        <form action="/procesar_formulario" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <br>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
            <br>
            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
            <br>
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="telefono">Número de Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>
            <br>
            <input type="submit" value="Enviar">
        </form>
    </section>
    <footer>
        <img src="https://png.pngtree.com/element_our/md/20180301/md_5a98273a4e62e.jpg" alt="instagram">
        <img src="https://img.freepik.com/vector-premium/nuevo-logotipo-twitter-x-2023-descarga-vector-logotipo-twitter-x_691560-10809.jpg" alt="twitter">
        <img src="https://png.pngtree.com/element_our/md/20180314/md_5aa8fcedbfd40.jpg" alt="facebook">
        <h3 class="numtel">
            Número de teléfono:+34 606 060 606
        </h3>
        <h3 class="email"> Email: luciarojas@gmail.com</h3>
    </footer>

</section>
</body>
</html>